DATABASE_URL="postgresql://__DB_USER__:__DB_PASSWORD__@__DB_HOST__:5432/__DB_NAME__?sslmode=require"
AUTH_SECRET="__AUTH_SECRET__"
NEXTAUTH_URL="__NEXTAUTH_URL__"
TRPC_SECRET="__TRPC_SECRET__"
NEXT_PUBLIC_APP_URL="__NEXTAUTH_URL__"